@import "animations.css";

/* For theming, use CSS variables in stage 2 */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Theme CSS Begin */

.nightmode {
    background-color: rgba(33,34,43,1);
    color: white;
}

.lightmode {
    background-color: deepskyblue;
    color: black;
}

/* Theme CSS End */

/* Header CSS Begin */

header {
    color: rgba(33,34,43,1);
    background-color: lightsteelblue;
    background-color: lavender;
    text-align: center;
    font-family: 'Nunito', sans-serif;
    box-shadow: 1pt 1pt 0 0 white;
}

footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    padding: 1em;
    background-color: lightslategray; 
    text-align: center;
    color: lavender;
}

.column {
    display: flex;
    justify-content: space-between;
    align-items: stretch;
}

/* Header CSS End */

/* Scoreboard CSS Begin */

.scores {
    font-family: 'Asap', sans-serif;
}
.score-board {
    text-align: center;
    border: 5px solid white;
    padding: 0.5rem;
    margin: 30px auto;
    width: 4em;
    max-width: 20rem;
    max-height: 20rem;
    position: relative;
    border-radius: 5px;
    font-size: 50px;
}

.score-label {
    padding: 1px 1px;
    border: 2px solid white;
    border-radius: 10%;
    font-size: 1rem;
}

.score-labels {
    font-family: 'Courier New', Courier, monospace;
}

#score-title {
    font-family: 'Courier New', Courier, monospace;
}

.score-label {
    position: absolute;
    top: 35%;
}

#user-score-label {
    left: -13%; 
    background-color: green;
}

#comp-score-label {
    right: -13%;
    background-color: crimson;
}

/* Scoreboard CSS End */

/* Game zone CSS Begin */

.game-zone {
    display: flex;
    /* justify-content: flex-start; */
}

/* Game zone CSS End */

/* Choices CSS Begin */

 .choice {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 3rem;
    color: peachpuff;
 }

 .choice-border {
    position: relative;
    margin: 5px 5px 5px 5px;
    width: 5rem;
    height: 5rem;
    cursor: pointer;
    border: 3px solid white;
    border-radius: 50%;
    background-color: rgba(33,34,43,0.5);
 }

 .choice-border:active {
    transition: 0.1s;
    box-shadow: none !important;
}

 .choice-border:enabled:hover {
    /* border: 4px solid cadetblue;
    box-shadow: 0 0 0 3pt white; */
    border: 5px solid rgba(47,79,79,0.5);
    box-shadow: 0 0 0 3pt white;
}

.user-choices {
    display: inline-flex;
    counter-reset: choices-count;
}

.user-choices .choice-border:before {
    counter-increment: choices-count;
}

.choice-border > i {
    transition: none;
}

/* Choices CSS End */

/* Rock CSS */

.rock:enabled:hover {
    transition: all 0.5s;
    animation: bounce 1.5s 1;
}

/* Paper CSS */

.paper:enabled:hover {
    transition: all 0.5s;
    animation: wave 0.7s 1;
}

/* Scissors CSS */

.scissors {
    transform: scaleX(-1);
}

.scissors:enabled:hover {
    transition: all 0.5s;
    animation: scissoring 0.7s 1;
}

/* Lizard CSS */

.lizard {
    transform: scaleX(-1) rotateZ(360deg);
}

.lizard:enabled:hover {
    transition: all 0.5s;
    transform: scaleX(-1) rotateZ(-360deg);
}

/* Spock CSS */ 

.spock:enabled:hover {
    animation: flip 1s 1;
}

/* Gameplay choices CSS Begin */

#gameplay {
    flex-direction: column;
}

#comp-final-choice > i {
    transition: none;
    transform: rotateY(180deg) translate(50%,-50%)!important;
}

.user-final-animate {
    animation: user-gameplay 0.4s;
    animation-fill-mode: forwards;
    animation-iteration-count: 3;
}

.comp-final-animate {
    animation: comp-gameplay 0.4s;
    animation-fill-mode: forwards;
    animation-iteration-count: 3;
}

.final-choice-wrapper {
    pointer-events: none;
    display: flex;
}

.commentary {
    text-align: center;
}

/* Gameplay choices CSS End */

/* Begin/End Game button */

button > * {
    pointer-events: none;
}

button {
    outline: none;
    text-align: center;
}

.button-wrapper {
    display: flex;
    padding-top: 20px;
    /* position: absolute;
    top: 60%;
    left: 50%; */
    /* transform: translate(-50%,-50%); */
    justify-content: center;
    align-content: center;
}

.game-control {
    color: white;
    text-align: center;
    cursor: pointer;
    outline: none;
    width: 110px;
    height: 40px;
    font-size: 1rem;
    font-family: 'Arial Narrow Bold', sans-serif;
    margin: 5px;
    border: 1px solid white;
    border-radius: 25px;
    transition: ease 0.3s;
}

.game-control:active {
    transform: translateY(5px);
}

#begin:enabled:hover {
    background-color: cadetblue !important;
    color: white;
    border: 1px solid white;
    box-shadow: 0 0 0 1pt darkslategray;
    /* background-color: rgba(255, 255, 255, 1) !important;
    color: rgba(33,34,43,1);
    border: 1px solid rgba(33,34,43,1);
    box-shadow: 0 0 0 1pt darkslategray; */
}

#begin:enabled {
    color: white;
    background-color: rgba(47,79,79,0.2);
}

button:disabled {
    cursor: not-allowed;
    opacity: 0.5;
}

#begin:disabled {
    color: rgba(255,255,255,0.5);
    border: 1px solid rgba(33,34,43,0.7);
    background-color: slategray !important;
    box-shadow: 0 0 0 1pt slategray;
}

#end:hover {
    border: 1px solid white;
    background-color: red !important;
}

#end:enabled {
    background-color: lightcoral;
}

#end:disabled {
    background-color: lightcoral !important;
}

/* History column CSS Begin */

.history {
    text-align: center;
    display: grid;
    grid-template-columns: auto auto auto auto;
    /* padding: 10px; */
    pointer-events: none;
}

.history-item {
    display: inline-block;
    flex-direction: column;
    border: 1px solid white;
}

.history-choices {
    display: inline-flex;
}

.user-choice {
    padding: 1.25em;
    width: 1em;
    height: 1em;
}

.user-choice > .choice {
    font-size: 1.5em;
}

.history-winner-box {
    display: flex;
    font-size: 1.25em;
    padding: 5px 5px;
    justify-content: center;
    border: 1px solid white;
}

#winner-label {
    text-align: center;
}

.game-history {
    font-family: 'Nunito', sans-serif;
}

.user-winner {
    background-color: green;
}

.comp-winner {
    background-color: crimson;
}

.no-winner {
    background-color: lavender;
}


/* History column CSS End */